<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Google.Apis" version="1.21.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.21.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.21.0" targetFramework="net45" />
  <package id="Google.Apis.YouTube.v3" version="1.21.0.760" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.3.0.823" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net45" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net45" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net45" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="8.0.1" targetFramework="net45" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>